@font-face {
  font-family: boldRobotto;
  src: url(/css/fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: lightRobotto;
  src: url(/css/fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: boldUbuntu;
  src: url(/css/fonts/Ubuntu/Ubuntu-Light.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #191c19;
  width: 100%;
}

h2, h3, p {
  padding: 20px;
}

p {
  font-family: lightRobotto;
}

h2, h3 {
  font-family: boldUbuntu;
}

.getStarted {
  transition: all ease 0.3s;
  background: #282b28;
  width: 890px;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
  height: 90vh;
  border: #313330 solid 0.1px;
  color: white;
  position: relative;
}
.getStarted h2 {
  padding-top: 45px;
  text-align: center;
}
.getStarted p {
  text-align: left;
  padding-left: 35px;
}
@media (max-width: 1000px) {
  .getStarted {
    width: 675px;
  }
}
@media (max-width: 800px) {
  .getStarted {
    width: 445px;
  }
}
@media (max-width: 500px) {
  .getStarted {
    width: 400px;
    height: 85vh;
  }
}
.getStarted h2 {
  text-align: left;
  padding-left: 35px;
}
.getStarted ul {
  padding-left: 50px;
  font-family: lightRobotto;
}
.getStarted ul li {
  margin-bottom: 10px;
  transition: all ease 0.3s;
  list-style: none;
}
.getStarted ul li:hover {
  transition: all ease 0.3s;
  padding-left: 10px;
  cursor: pointer;
}
.getStarted ul li a {
  transition: all ease 0.3s;
  color: white;
  text-decoration: none;
}
.getStarted ul li a:hover {
  transition: all ease 0.3s;
  color: #888aec;
}
.getStarted .walletAdress {
  transition: all ease 0.3s;
  font-weight: bold;
  display: none;
  opacity: 0;
  position: absolute;
  top: 31px;
  right: 13px;
}
.getStarted .paymentInfo {
  margin-top: 20px;
}
.getStarted .connectWalletButton {
  transition: all ease 0.3s;
  background: #99a3f7;
  border: 1px solid #a1a8e5;
  padding: 11px 20px;
  font-family: boldUbuntu;
  border-radius: 3px;
  font-size: 16px;
  color: white;
  float: right;
  margin-top: -55px;
  margin-right: 30px;
}
.getStarted .connectWalletButton:hover {
  transition: all ease 0.3s;
  cursor: pointer;
  background: #5e67ad;
}
@media (max-width: 500px) {
  .getStarted .connectWalletButton {
    padding: 11px 11px;
    font-size: 14px;
  }
}

.mainApp {
  display: none;
  opacity: 0;
  position: relative;
  transition: all ease 0.3s;
  background: #282b28;
  width: 890px;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
  height: 90vh;
  border: #313330 solid 0.1px;
  color: white;
}
.mainApp h2 {
  padding-top: 45px;
  text-align: center;
}
.mainApp p {
  text-align: left;
  padding-left: 35px;
}
@media (max-width: 1000px) {
  .mainApp {
    width: 675px;
  }
}
@media (max-width: 800px) {
  .mainApp {
    width: 445px;
  }
}
@media (max-width: 500px) {
  .mainApp {
    width: 400px;
    height: 85vh;
  }
}
.mainApp h2 {
  margin-bottom: 25px;
}
.mainApp ul {
  padding-left: 50px;
  font-family: lightRobotto;
}
.mainApp ul li {
  margin-bottom: 10px;
}
.mainApp p {
  padding-top: 0;
}
.mainApp .generateButton {
  position: absolute;
  bottom: 20px;
  right: 0;
  transition: all ease 0.3s;
  background: #03d0b1;
  border: #088a08 solid 1px;
  padding: 9px 17px;
  border-radius: 3px;
  margin-right: 25px;
  margin-top: 35px;
  font-size: 15px;
}
.mainApp .generateButton:hover {
  transition: all ease 0.3s;
  cursor: pointer;
  background-color: #1b7184;
}

.selectWallet {
  position: absolute;
  display: none;
  opacity: 0;
  bottom: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  width: 625px;
  border-radius: 6px;
  background: white;
  height: 465px;
  overflow: hidden;
}
.selectWallet h2 {
  font-size: 16px;
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 245px;
  position: absolute;
  top: 0;
  right: 0;
}
.selectWallet .closeSelectWallet {
  width: 47px;
  height: 40px;
  position: absolute;
  right: -4px;
  top: 0;
  padding: 10px;
}
.selectWallet .closeSelectWallet:hover {
  cursor: pointer;
}
.selectWallet .selectWalletBackground {
  height: 280px;
  position: absolute;
  bottom: -121px;
  filter: blur(3px);
  left: -203px;
  width: 398px;
  transform: rotate(-40deg);
}
.selectWallet .explainSelectWallet {
  width: 235px;
  height: 463px;
  background: #f3f3f3;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  position: absolute;
  top: 1px;
}
.selectWallet .explainSelectWallet p {
  color: gray;
}
.selectWallet .errorMsg {
  transition: all ease 0.3s;
  opacity: 0;
  color: red;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 13px;
}
.selectWallet .metaMaskSelect {
  background-color: white;
  border: #d0d4f7 1px solid;
  transition: all 0.3s ease;
  color: black;
  position: absolute;
  top: 70px;
  width: 220px;
  border-radius: 4px;
  height: 80px;
  left: 256px;
  z-index: 2;
}
.selectWallet .metaMaskSelect:hover {
  background-color: #eff1fc;
  cursor: pointer;
}
.selectWallet .metaMaskSelect img {
  padding: 7px;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  color: black;
  margin-top: 15px;
  border: 1px solid #c4c9f3;
  margin-left: 17px;
}
.selectWallet .metaMaskSelect .walletName, .selectWallet .metaMaskSelect .isInstalled {
  position: absolute;
  font-family: "boldUbuntu";
  top: 22px;
  left: 80px;
  font-weight: 600;
  font-size: 15px;
}
.selectWallet .metaMaskSelect .isInstalled {
  top: 43px;
  font-size: 12px;
  color: green;
}
.selectWallet .metaMaskSelect .connectedImg {
  display: none;
  border: none;
  margin-left: 100px;
  height: 42px;
  width: 42px;
  margin-bottom: 2px;
}
.selectWallet #metaMaskSelected {
  transition: all ease 0.3s;
  top: 0;
  width: 625px;
  height: 465px;
  left: 0;
}
.selectWallet #metaMaskSelected:hover {
  background-color: white;
  cursor: initial;
}
.selectWallet #metaMaskSelected .walletName, .selectWallet #metaMaskSelected .metaMaskSelect .isInstalled, .selectWallet .metaMaskSelect #metaMaskSelected .isInstalled {
  top: 182px;
  left: 260px;
  font-size: 22px;
}
.selectWallet #metaMaskSelected img {
  animation: walletImgLoading 3s infinite;
  width: 78px;
  height: 78px;
  margin-top: 171px;
  margin-left: 159px;
}
.selectWallet #metaMaskSelected .isInstalled {
  top: 211px;
  font-size: 16px;
  color: green;
  left: 260px;
}
.selectWallet #metaMaskConnected {
  border-color: green;
}
.selectWallet #metaMaskConnected img {
  border-color: green;
}
.selectWallet #metaMaskConnected .connectedImg {
  display: inline;
}

.boldFamily {
  font-family: boldRobotto;
}

@keyframes walletImgLoading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=styles.css.map */