
  @font-face {
    font-family: boldUbuntu;
    src: url(../css/fonts/Ubuntu/Ubuntu-Light.ttf);
  }
  @font-face {
    font-family: comicStyle;
    src: url(../css/fonts/lounge-bait-font/LoungeBait-JpVa.ttf);
  }
  @font-face {
    font-family: lightFont;
    src: url(../css/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  }

  body {
    background-color: #191c19;
    width: 100%;
    transition: all ease .3s;
    overflow: hidden;
  }
  
  p, li, h3, h4 {
    font-family: lightFont;
  }
  
  h2 {
    font-family: comicStyle;
    letter-spacing: 5px;
  }

  .secondBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(imgs/LaunchBackground.jpg);
    background-size: 100% 100%;
    filter: blur(18px);
  }

  .background {
    background: url(imgs/LaunchBackground.jpg) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    max-width: 2400px;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    max-height: 1235px;
    top: 50%;
    left: 50%;
  }

  .touchZone {
    position: absolute;
    left: 50%;
    bottom: 3%;
    height: 215px;
    width: 294px;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
 
  .touchZone::before {
    transition: all ease 1s;
    content: "";
    display: block;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    border: #d59241c9 3px solid;
    animation: indicator 1s linear infinite;
    margin-left: 1px;
    margin-top: 1px;
    box-shadow: 1px 1px 20px rgb(67 60 45);
    filter: blur(0.8px);
    position: absolute;
    top: 61px;
    right: 118px;
  }

  .clickedTouchZone::before {
    animation: none;
    transform: scale(1);
    transition: all ease 1s;
    box-shadow: none;
    background: #dbdbdb;
    border: none;
  }

  .scaling::before {
    transition: all ease 1s;
    transform: scale(100);
  }

  @media (max-width: 1300px) {
    .background {
      background: url(imgs/LaunchBackgroundTablet.jpg) no-repeat;
      background-size: 100% 100%;
    }
  }

  @media (max-width: 600px) {
    .background {
      background: url(imgs/LaunchBackgroundMobile.jpg) no-repeat;
      background-size: 100% 100%;
    }
    .touchZone {
      position: absolute;
      bottom: 0%;
      height: 182px;
      width: 326px;
      background: transparent;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .touchZone::before {
      width: 45px;
      height: 45px;
      top: 61px;
      right: 135px;
    }
  }

  @media (max-height: 1125px) {
    .touchZone {
      bottom: -2%;
    }
  }

  @media (max-height: 750px) {
    .touchZone {
      bottom: -10%;
    }
  }

  @media (max-height: 600px) {
    .touchZone {
      bottom: -15%;
    }
  }
  
  .getStartedContener {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: all ease 0.3s;
    overflow: hidden;
  }
  
  #getStartedShake {
    animation: shake 0.5s;
  }
  
  #getStartedSpinning {
    animation: fall 1.5s;
  }
  
  .getStarted {
    z-index: 3;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 71px;
    transition: all ease 0.3s;
    background: #282b28;
    width: 890px;
    border-radius: 5px;
    height: 1200px;
    border: #313330 solid 0.1px;
    color: white;
    padding-bottom: 25px;
  }

  @media (max-width: 600px) {
    .getStarted h2 {
      font-size: 27px;
    }
  }
  .getStarted p {
    text-align: left;
    padding-left: 35px;
  }
  @media (max-width: 1000px) {
    .getStarted {
      width: 810px;
    }
  }
  @media (max-width: 800px) {
    .getStarted {
      width: 750px;
    }
  }
  @media (max-width: 600px) {
    .getStarted {
      width: 97vw;
      height: 90vh;
      position: relative;
      top: 0;
      left: 0;
      overflow: scroll;
    }
  }

  .getStarted h2 {
    margin-top: 65px;
    text-align: center;
    font-size: 35px;
    margin-bottom: 60px;
  }

  .getStarted p {
    padding: 20px;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    padding-left: 35px;
  }

  @media (max-width: 600px) {
    .getStarted p {
      font-size: 15px;
    }
  }

  .getStarted a {
    display: block;
    width: 140px;
    transition: all ease .3s;
    color: white;
    background-color: #191c19;
    padding: 20px;
    border-radius: 5px;
    margin-top: 55px;
    font-family: boldUbuntu;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    margin-left: 35px;
  }

  .getStarted a:hover {
    transition: all ease .3s;
    background-color: #a9aea9;
    border: .1px solid #191c19;
    color: black;
    margin-left: 45px;
    cursor: pointer;
  }
  
  @keyframes indicator {
    0% {
      transform: scale(1);
    }
    40% {
      transform: scale(1.4);
      opacity: 1;
    }
    70% {
      transform: scale(1.8);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }