@mixin contenerTemplate() {
    width: 1033px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 5%;
    left: 50%;
}

@mixin divTemplate() {
    z-index: 3;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 71px;
    transition: all ease 0.3s;
    background: #282b28;
    width: 890px;
    border-radius: 5px;
    height: 1200px;
    border: #313330 solid 0.1px;
    color: white;
    h2 {
        padding-top: 45px;
        text-align: left;
        padding-left: 35px;
        font-size: 35px;
    }
    p {
        text-align: left;
        padding-left: 35px;
    }
    @include mobile(1000px) {
        width: 675px;
    }
    @include mobile(800px) {
        width: 445px;
    }
    @include mobile(500px) {
        width: 400px;
        height: 85vh;
    }
}

@mixin mobile($px) {
    @media (max-width: $px) {
        @content;
    }
}
