@import '_default.scss';
@import '_variables.scss';
@import '_animations.scss';

// get started
.getStartedContener {
    @include contenerTemplate();
    opacity: 0;
    transition: all ease .3s;
}

#getStartedShake {
    animation: shake .5s;
}

#getStartedSpinning {
    animation: fall 1.5s;
}

.getStarted {
    @include divTemplate();
    ul {
        padding-left: 50px;
        font-family: lightRobotto;
        li {
            margin-bottom: 10px;
            transition: all ease 0.3s;
            list-style: none;
            width: 70px;
            &:hover {
                transition: all ease 0.3s;
                padding-left: 10px;
                cursor: pointer;
            }
            a {
                transition: all ease 0.3s;
                color: white;
                text-decoration: none;
                &:hover {
                    transition: all ease 0.3s;
                    color: #888aec;
                }
            }
        }
    }
    .paymentInfo {
        margin-top: 20px;
    }
    .connectWalletButton {
        padding: 11px 33px;
        transition: all ease 0.3s;
        background: #191c19;
        border: 1px solid #656464;
        font-family: boldUbuntu;
        border-radius: 3px;
        float: right;
        margin-top: -64px;
        margin-right: 30px;
        position: relative;
        &:hover {
            transition: all ease 0.3s;
            cursor: pointer;
            background: #656464;
            border-color: white;
        }
        .hover {
            display: none;
        }
        img {
            display: none;
            margin-top: 2px;
            padding: 7px;
            width: 46px;
            height: 46px;
            border-radius: 10px;
        }
        @include mobile(500px) {
            padding: 11px 11px;
            font-size: 14px;
        }
    }
    #connectedWalletBtn {
        padding: 0;
        padding-right: 212px;
        img {
            display: inline;
        }
        a {
            position: absolute;
            top: 16px;
            right: 20px;
            @include mobile(500px){
                font-size: 15px;
            }
        }
        @include mobile(500px){
            padding-right: 125px !important;
        }
    }
}

// lever
.lever {
    background-color: #282b28;
    width: 142px;
    height: 444px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: #313330 solid 0.1px;
    border-left: 0;
    float: right;
    margin-top: 245px;
    position: absolute;
    right: 100px;
    transition: all ease 1s;
    .littleBase {
        top: 149px;
        position: absolute;
        width: 87px;
        height: 130px;
        background: #2e312e;
        border-radius: 5px;
        left: 26px;
        box-shadow: 1px 1px 20px #1a1a1a;
    }
    .batton {
        top: -80px;
        position: absolute;
        width: 40px;
        height: 275px;
        background: linear-gradient(184deg, #7b7b7b, #414040, transparent);
        border-radius: 5px;
        left: 49px;
        box-shadow: -2px -20px 20px #1a1a1a;
    }
    .boule {
        top: -110px;
        z-index: 2;
        position: absolute;
        width: 87px;
        height: 89px;
        background: #274d3c;
        border-radius: 46px;
        left: 25px;
        box-shadow: -1px -20px 20px #1a1a1a;
        border: white .1px solid;
        &:hover {
            cursor: pointer;
        }
        &::before {
            content: "";
            display: block;
            width: 82px;
            height: 82px;
            border-radius: 50%;
            border: white 1px solid;
            animation: indicator 0.8s linear infinite;
            margin-left: 1px;
            margin-top: 1px;
            box-shadow: 1px 1px 20px #ffffff52;   
            filter: blur(0.8px);     
        }
    }
    img {
        transition: .5s all ease;
        position: absolute;
        bottom: -156px;
        left: -44px;
        opacity: .5;
        animation: impactAnim 1s;
        display: none;
    }
}

#clickLever1 {
    .batton {
        animation: leverBattonClick1 .3s;
    }
    .boule {
        animation: leverBallClick1 .3s;
        border: none;
        &::before {
            display: none;
        }
    }
}

#clickLever2 {
    .batton {
        animation: leverBattonClick2 .3s;
    }
    .boule {
        animation: leverBallClick2 .3s;
        border: none;
        &::before {
            display: none;
        }
    }
}

#incliningLever1 {
    .batton {
        animation: leverBattonEnable1 .3s;
    }
    .boule {
        animation: leverBallEnable1 .3s;
        border: none;
        &::before {
            display: none;
        }
    }
}

#incliningLever2 {
    .batton {
        animation: leverBattonEnable2 .3s;
    }
    .boule {
        animation: leverBallEnable2 .3s;
        border: none;
        &::before {
            display: none;
        }
    }
}

#inclinedLever {
    .batton {
        animation: none;
        top: 226px;
        position: absolute;
        width: 40px;
        height: 275px;
        background: linear-gradient(184deg, #7b7b7b, #414040, transparent);
        border-radius: 5px;
        left: 49px;
        box-shadow: -2px -20px 20px #1a1a1a;
        transform: rotate(180deg);
    }
    .boule {
        animation: none;
        top: 446px;
        position: absolute;
        width: 87px;
        height: 89px;
        background: #23392f;
        border-radius: 46px;
        left: 25px;
        box-shadow: 0px -2px 20px #1a1a1a;
        border: none;
        &:hover {
            cursor: default;
        }
        &::before {
            display: none;
            animation: none;
        }
    }
}

// main app
.mainAppContener {
    @include contenerTemplate;
    transition: all ease 1s;
    #spinPopUp {
        font-family: 'Kdam Thmor Pro', sans-serif;
        transition: all ease .3s;
        display: none;
        opacity: 0;
        color: red;
        position: absolute;
        z-index: 5;
        font-size: 55px;
        transform: rotate(-14deg);
        top: 33vh;
        left: 28%;
        text-shadow: 6px 4px 20px #691e1e;
    }
    #spinPopUpSub {
        font-family: 'Kdam Thmor Pro', sans-serif;
        transition: all ease .3s;
        transform: rotate(-14deg);
        font-size: 20px;
        position: absolute;
        z-index: 5;
        top: 39vh;
        left: 30%;
        color: white;
        text-shadow: 6px 4px 20px #691e1e;
        display: none;
        opacity: 0;
    }
}

#notLoadedApp {
    top: -110%;
}

#mainAppSpinning {
    top: -110%;
    filter: blur(5px);
    animation: spin .5s infinite;
}

.mainApp {
    position: relative;
    @include divTemplate();
    h2 {
        margin-bottom: 25px;
    }
    .WalletKey, .PrivateKey {
        padding-left: 50px;
    }
    .mainChainContener {
        padding-left: 50px;
        font-family: lightRobotto;
        .chain {
            font-family: lightFont;
            font-size: 17px;
            padding: 0;
            margin-bottom: 10px;
            li { 
                font-size: 15px;
                margin-top: 10px;
                margin-left: 30px;
                color: #7c817c;
            }
        }
        a {
            color: #428eab;
            transition: all ease .3s;
            padding-left: 35px;
            display: block;
            margin-top: -26px;
            text-decoration: none;
            &:hover {
                transition: all ease .3s;
                color: #1e576d;
            }
            span {
                color: white;
            }
        }
        img {
            width: 25px;
            background: white;
            border-radius: 200px;
            padding: 2px;
        }
        li {
            margin-bottom: 10px
        }
        .isNotEmpty {
            color: green !important;
        }
    } 
    p {
        padding-top: 0;
    }
    .flyingParticles {
        right: 0;
    }
}

// select wallet
.selectWallet {
    transition: all ease 0.3s;
    position: absolute;
    display: none;
    opacity: 0;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 625px;
    border-radius: 6px;
    background: #f1f1f1;
    height: 465px;
    overflow: hidden;
    h3 {
        font-size: 17px;
    }
    h4 {
        font-size: 16px;
        border-bottom: 1px solid #d5d5d5;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right: 219px;
        position: absolute;
        top: 0;
        right: 0;
        padding-left: 11px;
    }
    .closeSelectWallet {
        width: 47px;
        height: 40px;
        position: absolute;
        right: -4px;
        top: 0;
        padding: 10px;
        &:hover {
            cursor: pointer;
        }
    }
    .selectWalletBackground {
        height: 280px;
        position: absolute;
        bottom: -121px;
        filter: blur(3px);
        left: -203px;
        width: 398px;
        transform: rotate(-40deg);
    }
    .explainSelectWallet {
        width: 235px;
        height: 463px;
        background: #e1e1e1;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        position: absolute;
        top: 1px;
        p {
            padding-top: 0;
            font-size: 15px;
            color: gray;
        }
    }
    .errorMsg {
        transition: all ease 0.3s;
        opacity: 0;
        color: red;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 13px;
    }
    .metaMaskSelect {
        background-color: white;
        border: #d0d4f7 1px solid;
        transition: all .3s ease;
        color: black;
        position: absolute;
        top: 70px;
        width: 220px;
        border-radius: 4px;
        height: 80px;
        left: 256px;
        z-index: 2;
        &:hover {
            background-color: #eff1fc;
            cursor: pointer;
        }
        img {
            padding: 7px;
            width: 48px;
            height: 48px;
            border-radius: 10px;
            color: black;
            margin-top: 15px;
            border: 1px solid #c4c9f3;
            margin-left: 17px;
        }
        .walletName {
            position: absolute;
            font-family: 'boldUbuntu';
            top: 22px;
            left: 80px;
            font-weight: 600;
            font-size: 15px;
        }
        .isInstalled {
            @extend .walletName;
            top: 43px;
            font-size: 12px;
            color: green;
        }
        .connectedImg {
            display: none;
            border: none;
            margin-left: 100px;
            height: 42px;
            width: 42px;
            margin-bottom: 2px;
        }
    }
    #metaMaskSelected {
        transition: all ease 0.3s;
        top: 0;
        width: 625px;
        height: 465px;
        left: 0;
        &:hover {
            background-color: white;
            cursor: initial;
        }
        .walletName {
            top: 182px;
            left: 260px;
            font-size: 22px;
        }
        img {
            background-color: white;
            animation: walletImgLoading 3s infinite;
            width: 78px;
            height: 78px;
            margin-top: 171px;
            margin-left: 159px;
        }
        .isInstalled {
            top: 211px;
            font-size: 16px;
            color: green;
            left: 260px;
        }
    }
    #walletConnected {
        border-color: green;
        img {
            border-color: green;
        }
        .connectedImg {
            display: inline;
        }
        .isInstalled {
            color: green;
        }
    }
    #walletSuccess {
        @extend #metaMaskSelected;
        img {
            animation: walletImgSuccess 1.2s;
        }
    }
    #walletFailed {
        @extend #metaMaskSelected;
        img {
            animation: walletImgFailed .2s;
        }
    }
}